
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0; 
  background-color: #007BFF; 
}

.App {
  text-align: center;
  font-size: 30px;
  padding: 60px ;
  background-color: blue;
  color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

@media (max-width: 400px) {
  .App {
    padding: 30px;
  }
}

label {
  font-size: 18px;
  text-align: left;
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  width: 100%;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 20px ;
  padding: 15px;
  width: 107%;
  border-radius: 8px;
  font-size: 18px;
  background-color: rgb(12, 131, 170);
  cursor: pointer;
  border: none;
  color: white;
  transition: background-color 0.3s ease;

}

button:hover {
  background-color: lightblue;
  color: black;
}

button:active {
  background-color: #2f6030;
}

